body{
	margin:1%;
	padding:1%;
	font-size:120%;
	font-family: 'Poppins', sans-serif;
	background-color: black;
	color: white;
}

p, h1, h2 {
    padding: 15px;
	text-align: center;
}

h1{
	font-size: 2em; 
	font-weight: 600;
	text-align: center;
}

h2{
	font-size: 1.2em; 
	font-weight: 600;
	text-align: center;
}

h3{
	font-weight: 500;
}
p{
	font-weight: 300;
}

a{
	color: grey;
	text-decoration: none;
}

nav ul{
	display: flex;
	flex-direction: column ;
	align-items: center;
	gap: 2rem;
	margin: 1rem;
	font-size: 0.8em;
}

nav li:first-child{
	margin-right: auto;
	display: block;
	font-size: 1.2em;
	font-weight: 600;
	border-bottom: 6px solid rgb(255, 169, 58);
	padding-bottom: -12px;
}

header .current {
	color: white;
	text-decoration: underline;
	font-weight: 600;
}

nav ul li,#nav_checkbox{
	display: none;
	font-size: 20px;
} 

.nav_toggle{
	position: absolute;
	right: 0;
	width: 40px;
	margin: 0rem 1rem;
}


#close{
	display: none;
	width: 80%;
}


#nav_checkbox:checked ~ ul li{
	display: block;
}

#nav_checkbox:checked ~ label img#close{
	display: block;
}
#nav_checkbox:checked ~ label img#menu{
	display: none;
}



main img{
	display: block;
    margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	border-radius: 10px;
	width: 85%;
	align-self: center;
} 


.project p{
	padding-left: 35px;
	text-align: left;
}

.videos-intro{
	border: solid 1px white;
	border-radius: 10px;
}

.picture{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2,auto);
	align-items: center;
	row-gap: 40px;
}



.form{
	background-color: white;
}

footer{
	margin-top: 50px;
	font-size: 0.8em;
	text-align: center;
}

form{
	margin: 20px;
}
form p{
	text-align: left;
	font-weight: 300;
}

label{
	display: inline-block;
  }

fieldset{
	width: 95%;
	margin: auto;
}
input {
	width: 100%;
	padding: 12px 30px;
	display: inline-block;
	font-family: "Poppins";
	font-weight: 300;
	font-size: 0.75em;
}

input[type=submit]:hover {
	opacity: 0.8;
  }




/*Added this so the links stay the same color*/

@media screen and (min-width: 850px){
	body{
		margin-left:10%;
		margin-right:10%;
		font-size:120%;
		background-color: black;
		color:white;
	}
	nav ul{
		display: flex;
		flex-direction: row ;
		align-items: center;
		gap: 2rem;
		margin: 1rem;
		font-size:1 em;
	}

	nav ul li{
		display: block;
		font-size: 1em;
	} 
	#nav_checkbox, .nav_toggle{
		display: none;
		font-size: 20px;
	} 

	

	.title{
		margin: 30px 0px;
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 2rem;
		grid-template-rows: auto;
		justify-items: start;
	}
	#hey{
		grid-column: 1/ span 1;
		grid-row: 1 / span 1;
		align-items: flex-start;
		background-color: #ff5e69;
		background-size: 80%;
		background-image: -webkit-linear-gradient(45deg,#b16cea, #ff5e69, #ff8a56,#ffa84b);
  		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent;
	}

	#name{
		grid-column: 1/ span 1;
		grid-row: 2 / span 1;
	}
	#intro{
		grid-column: 2/ span 1;
		grid-row: 1 / span 2;
		justify-items: center;
		align-items: center;
	}


	.project{
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto;
		margin-top: 50px;
		margin-bottom: 50px;
	}

	#polaris{
		grid-column: 1/ span 1;
		grid-row: 1 / span 1;
	} 
	#va{
		grid-column: 2 / span 1;
		grid-row: 1 / span 1;
	}
	#simon{
		grid-column: 1/ span 1;
		grid-row: 2 / span 1;
	}
	
	
	
	
	label{
		display: inline-block;
		width:15%;
	}

	input {
		width: 84%;
		padding: 12px 20px;
		margin: 10px 0;
		display: inline-block;
		box-sizing: border-box;
	}

	input[type=submit] {
		width: 100%;
	}

	input[type=submit]:hover {
		opacity: 0.8;
	}
	




/* The about me page */
	.aboutme{
		display: grid;
		margin: 50px 0px;
		grid-template-columns:1fr 1fr ;
		grid-template-rows:auto;

	}


	#introduce{
		grid-area: 2/3/1/2;
		align-self: center;
	}
	.aboutme a{
		color:white;
		text-decoration: underline;
	}

/* The Pet page */

	.petintro{
		display: grid;
		margin: 50px 0px;
		grid-template-columns:1fr 1.5fr ;
		grid-template-rows:auto;
		column-gap: 10%;
	}

	.picture{
		display: flex;
		flex-flow: row wrap;
		align-items: center;
    	justify-content: center;
	}
	
	.picture img{
		margin: 10px;
		width: 300px;
	}
	
	
	.cook{
		margin: 50px 0px;
		display: grid;
		grid-template-columns: 1fr 1.2fr;
		grid-template-rows: auto;
		align-items: center;
		column-gap: 10%;
	}

	.cook img{
		width: 22%;
	}
	.cook img:hover{
		width: 30%;
	}


	.dishes{
		display: flex;
		flex-flow: row wrap;
	}

	.travel{
		margin: 100px 0px;
		display: grid;
		grid-template-columns: 1.2fr 1fr;
		grid-template-rows: auto;
		align-items: center;
		column-gap: 10%;
	}

	.travel img{
		width: 30%;
	}


	.cities{
		display: flex;
		flex-flow: row wrap;
	}

	

}

